.container {
  @apply mx-4 lg:mx-auto w-[1200px] max-w-[calc(100%-2rem)]
    grid grid-rows-[60px_1fr_auto]
    grid-cols-[3fr_1fr_1fr_1fr_1fr]
    min-h-[calc(100vh-2rem)] gap-4 my-4;
  grid-template-areas:
    '. header header header header'
    'content content content content content'
    'sidebar footer footer footer footer';
}

.home .container {
  grid-template-areas:
    'sidebar header header header header'
    'sidebar content content content content'
    'sidebar footer footer footer footer';
}

.content {
  @apply mt-[-100px];
  grid-area: content;
}

.home .content {
  @apply mt-0;
}

.header {
  @apply relative;
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
  @apply relative bg-[url(../images/cover.jpg)] bg-cover bg-no-repeat bg-center;
}
