.container {
  @apply lg:mx-auto w-[1500px] max-w-full
    grid grid-rows-[60px_1fr_auto]
    grid-cols-[1fr_1fr_1fr_1fr_1fr]
    min-h-[100vh] gap-4 m-0 p-4 overflow-x-hidden relative;
  grid-template-areas:
    'logo logo logo contact contact'
    'content content content content content'
    'footer footer footer footer footer';

  @screen md {
    grid-template-areas:
      'logo logo navigation contact contact'
      'content content content content content'
      'footer footer footer footer footer';
  }
}

.content {
  grid-area: content;
}

.menu-navigation {
  grid-area: navigation;
}

.menu-contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

.logo {
  @apply bg-contain bg-no-repeat bg-left min-h-[50px] relative z-10 mt-4;
  background-image: url('../images/logo.svg');
  grid-area: logo;
}

.no-feature .logo,
.team .logo {
  @apply bg-[image:url('../images/logo-dark.svg')];
}
