#hoverImage::after {
  @apply absolute w-full h-full left-0 top-0
  content-[''] bg-black/30;
}

#hoverImage {
  @apply h-52 w-52 absolute bg-[length:100vw_auto] cursor-pointer
  bg-[image:none] -left-full -top-full opacity-90;
  clip-path: polygon(
    54.611% 0.71%,
    54.611% 0.71%,
    59.051% 1.52%,
    63.149% 2.982%,
    66.941% 5.013%,
    70.461% 7.529%,
    73.745% 10.446%,
    76.827% 13.679%,
    79.742% 17.145%,
    82.525% 20.76%,
    85.21% 24.439%,
    87.834% 28.098%,
    87.834% 28.098%,
    90.03% 31.272%,
    92.077% 34.506%,
    93.942% 37.8%,
    95.59% 41.156%,
    96.99% 44.572%,
    98.108% 48.05%,
    98.91% 51.59%,
    99.364% 55.192%,
    99.436% 58.856%,
    99.093% 62.583%,
    99.093% 62.583%,
    98.35% 66.833%,
    97.362% 71.088%,
    96.104% 75.284%,
    94.548% 79.358%,
    92.668% 83.246%,
    90.435% 86.883%,
    87.825% 90.207%,
    84.808% 93.153%,
    81.359% 95.658%,
    77.451% 97.657%,
    77.451% 97.657%,
    73.373% 98.935%,
    69.264% 99.461%,
    65.132% 99.335%,
    60.987% 98.658%,
    56.839% 97.531%,
    52.696% 96.055%,
    48.569% 94.331%,
    44.465% 92.459%,
    40.395% 90.54%,
    36.369% 88.676%,
    36.369% 88.676%,
    32.311% 86.878%,
    28.222% 85.071%,
    24.174% 83.204%,
    20.239% 81.226%,
    16.488% 79.083%,
    12.994% 76.726%,
    9.828% 74.102%,
    7.061% 71.159%,
    4.767% 67.846%,
    3.016% 64.111%,
    3.016% 64.111%,
    1.669% 59.661%,
    0.852% 55.134%,
    0.547% 50.567%,
    0.737% 45.996%,
    1.405% 41.46%,
    2.537% 36.993%,
    4.114% 32.634%,
    6.12% 28.419%,
    8.539% 24.385%,
    11.354% 20.568%,
    11.354% 20.568%,
    14.606% 16.903%,
    18.182% 13.501%,
    22.051% 10.405%,
    26.179% 7.654%,
    30.536% 5.29%,
    35.088% 3.354%,
    39.804% 1.887%,
    44.652% 0.93%,
    49.598% 0.524%,
    54.611% 0.71%
  );
  animation-name: dancingSquares;
  animation-duration: 7s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes dancingSquares {
  25% {
    clip-path: polygon(
      47.941% 1.181%,
      47.941% 1.181%,
      52.054% 2.066%,
      55.475% 3.66%,
      58.33% 5.872%,
      60.74% 8.613%,
      62.83% 11.792%,
      64.724% 15.32%,
      66.545% 19.107%,
      68.417% 23.064%,
      70.464% 27.099%,
      72.808% 31.125%,
      72.808% 31.125%,
      75.381% 34.388%,
      78.551% 37.317%,
      82.101% 40.014%,
      85.814% 42.577%,
      89.469% 45.108%,
      92.85% 47.707%,
      95.739% 50.474%,
      97.916% 53.509%,
      99.163% 56.912%,
      99.263% 60.785%,
      99.263% 60.785%,
      98.256% 65.05%,
      96.523% 68.604%,
      94.162% 71.557%,
      91.267% 74.017%,
      87.935% 76.093%,
      84.26% 77.894%,
      80.338% 79.528%,
      76.265% 81.103%,
      72.136% 82.729%,
      68.047% 84.514%,
      68.047% 84.514%,
      64.01% 86.57%,
      59.828% 88.906%,
      55.538% 91.357%,
      51.178% 93.756%,
      46.785% 95.936%,
      42.398% 97.731%,
      38.055% 98.976%,
      33.792% 99.503%,
      29.648% 99.147%,
      25.661% 97.74%,
      25.661% 97.74%,
      22.072% 95.482%,
      19.071% 92.74%,
      16.574% 89.575%,
      14.497% 86.05%,
      12.754% 82.226%,
      11.26% 78.165%,
      9.931% 73.929%,
      8.682% 69.579%,
      7.429% 65.177%,
      6.085% 60.785%,
      6.085% 60.785%,
      4.547% 55.978%,
      3.134% 51.249%,
      1.927% 46.598%,
      1.008% 42.025%,
      0.458% 37.53%,
      0.358% 33.113%,
      0.789% 28.773%,
      1.833% 24.509%,
      3.571% 20.323%,
      6.085% 16.213%,
      6.085% 16.213%,
      9.243% 12.367%,
      12.705% 9.14%,
      16.443% 6.495%,
      20.427% 4.396%,
      24.631% 2.804%,
      29.025% 1.685%,
      33.581% 0.999%,
      38.271% 0.711%,
      43.067% 0.784%,
      47.941% 1.181%
    );
  }
  50% {
    clip-path: polygon(
      45.588% 0.735%,
      45.588% 0.735%,
      50.086% 1.714%,
      53.688% 3.669%,
      56.563% 6.431%,
      58.88% 9.833%,
      60.81% 13.706%,
      62.522% 17.881%,
      64.184% 22.191%,
      65.967% 26.466%,
      68.04% 30.54%,
      70.572% 34.244%,
      70.572% 34.244%,
      73.416% 37.324%,
      76.897% 40.542%,
      80.78% 43.877%,
      84.829% 47.311%,
      88.809% 50.823%,
      92.483% 54.394%,
      95.616% 58.004%,
      97.973% 61.634%,
      99.316% 65.263%,
      99.412% 68.873%,
      99.412% 68.873%,
      98.019% 72.305%,
      95.356% 74.662%,
      91.643% 76.154%,
      87.105% 76.988%,
      81.964% 77.375%,
      76.442% 77.523%,
      70.762% 77.64%,
      65.146% 77.937%,
      59.818% 78.621%,
      55% 79.902%,
      55% 79.902%,
      50.457% 81.879%,
      45.655% 84.431%,
      40.662% 87.331%,
      35.543% 90.351%,
      30.365% 93.265%,
      25.192% 95.846%,
      20.092% 97.865%,
      15.129% 99.096%,
      10.371% 99.311%,
      5.882% 98.284%,
      5.882% 98.284%,
      2.591% 96.15%,
      1.155% 93.297%,
      1.179% 89.852%,
      2.27% 85.945%,
      4.032% 81.703%,
      6.072% 77.256%,
      7.994% 72.731%,
      9.406% 68.258%,
      9.912% 63.964%,
      9.118% 59.979%,
      9.118% 59.979%,
      7.317% 55.918%,
      5.501% 52.114%,
      3.797% 48.52%,
      2.335% 45.088%,
      1.245% 41.771%,
      0.654% 38.521%,
      0.694% 35.291%,
      1.492% 32.034%,
      3.179% 28.701%,
      5.882% 25.245%,
      5.882% 25.245%,
      9.203% 21.587%,
      12.533% 17.916%,
      15.923% 14.336%,
      19.424% 10.955%,
      23.087% 7.877%,
      26.961% 5.209%,
      31.098% 3.054%,
      35.548% 1.52%,
      40.361% 0.712%,
      45.588% 0.735%
    );
  }
  75% {
    clip-path: polygon(
      56.287% 1.111%,
      56.287% 1.111%,
      61.193% 2.06%,
      65.749% 3.838%,
      69.985% 6.324%,
      73.935% 9.397%,
      77.63% 12.934%,
      81.103% 16.814%,
      84.386% 20.916%,
      87.511% 25.118%,
      90.51% 29.297%,
      93.415% 33.333%,
      93.415% 33.333%,
      95.65% 36.813%,
      97.378% 40.43%,
      98.603% 44.167%,
      99.328% 48.006%,
      99.558% 51.931%,
      99.297% 55.923%,
      98.548% 59.965%,
      97.315% 64.041%,
      95.603% 68.132%,
      93.415% 72.222%,
      93.415% 72.222%,
      89.431% 76.4%,
      85.231% 79.845%,
      80.85% 82.672%,
      76.326% 84.997%,
      71.694% 86.934%,
      66.991% 88.601%,
      62.255% 90.111%,
      57.52% 91.581%,
      52.825% 93.125%,
      48.205% 94.861%,
      48.205% 94.861%,
      44.108% 96.518%,
      40.654% 97.827%,
      37.684% 98.78%,
      35.038% 99.37%,
      32.558% 99.589%,
      30.084% 99.43%,
      27.457% 98.885%,
      24.518% 97.947%,
      21.107% 96.608%,
      17.066% 94.861%,
      17.066% 94.861%,
      13.305% 92.744%,
      10.728% 90.329%,
      9.11% 87.631%,
      8.224% 84.668%,
      7.847% 81.456%,
      7.752% 78.01%,
      7.714% 74.347%,
      7.508% 70.484%,
      6.908% 66.437%,
      5.689% 62.222%,
      5.689% 62.222%,
      4.032% 57.477%,
      2.661% 52.78%,
      1.631% 48.138%,
      0.998% 43.558%,
      0.818% 39.047%,
      1.148% 34.612%,
      2.043% 30.261%,
      3.56% 26%,
      5.754% 21.836%,
      8.683% 17.778%,
      8.683% 17.778%,
      12.264% 13.943%,
      16.2% 10.627%,
      20.456% 7.815%,
      24.997% 5.494%,
      29.789% 3.65%,
      34.797% 2.27%,
      39.985% 1.339%,
      45.319% 0.845%,
      50.765% 0.774%,
      56.287% 1.111%
    );
  }
}
